body {
	margin: 0;
	background: black;
	overflow: hidden;
    color: white;
    font-family: cursive;
}

#header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.nav-button {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px;
    margin: 5px;
    color: white;
    text-decoration: none;
}
.nav-button:hover {
    background: rgb(255, 255, 255);
    color: black;
}

#main {
    top: 50%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
}

#title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2em;
}

#title > h1 {
    transition: color 0.5s ease;
}

#title > p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

#footer{
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-style: italic;
    color: rgba(255, 255, 255, 0.2);
}
